<!DOCTYPE html >
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="main.min.css"/>
    <script src="main.min.js" defer=""></script>
    <title>Sinica</title>
    <link rel="stylesheet" href="./resources/splide/splide.min.css"/>
    <script src="./resources/splide/splide.min.js" defer=""></script>
    <script src="https://api-maps.yandex.ru/2.1/?&amp;lang=ru_RU" type="text/javascript"></script>
  </head>
  <body>
    <div>
    </div>
    <main class="mainContent">
      <div class="unite-box">
        <section class="section s-intro" id="s_intro">
          <div class="header">
            <div class="container">
              <div class="hamburger">
                <div class="hamburger__line"></div>
              </div><a class="header__number" href="">
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#phone-call"></use>
                      </svg><span>+ 7 (921) 888 33-22</span></a><a class="btn" href="#s_contact">обратный звонок</a>
              <ul class="header__nav">
                <li class="header__nav__el"> <a href="#s_courses">курсы</a></li>
                <li class="header__nav__el"> <a href="#s_advantage">преимущества</a></li>
                <li class="header__nav__el"> <a href="#s_about">о нас</a></li>
                <li class="header__nav__el"> <a href="#s_reviews">отзывы</a></li>
                <li class="header__nav__el"> <a href="#s_contact">контакты</a></li>
              </ul>
              <button class="basket" type="button" id="basket">
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#basket"></use>
                      </svg><span id="basket-el-count">0</span>
              </button>
            </div>
          </div>
          <div class="intro-cont">
            <div class="intro-cont__block"></div>
            <div class="intro-cont__block"></div>
            <div class="intro-cont__block">
              <p class="intro-cont__paragrath">Образовательное и творческое пространство для креативных людей </p>
            </div>
          </div>
          <div class="container">
            <div class="s-intro__names">
              <h1 class="s-intro__names_bold">синица</h1>
              <p class="s-intro__names_light">art place</p>
            </div><a class="s-intro__arrow" href="#s_courses">
                    <svg>
                      <use xlink:href="static/web/assets/icons/svg/sprite.svg#down-arrow"></use>
                    </svg></a>
          </div><img class="sinica" src="static/web/assets/images/sinica.png"/>
        </section>
        <section class="s_courses section" id="s_courses">
          <div class="container">
            <h1 class="title">Курсы</h1>
            <div class="courses-slider">
              <label class="courses-checkbox">
                <input type="checkbox" checked="checked" id="courses-slider-type"/>
                <div class="courses-checkbox__style">         <span class="courses-checkbox__text">3d</span><span class="courses-checkbox__point"></span></div>
              </label>
              <div class="splide" id="courses-slider">
                <div class="courses-slider__btns">    
                  <button class="courses-slider__btns_prev">
                          <svg>
                            <use xlink:href="static/web/assets/icons/svg/sprite.svg#right-arrow"></use>
                          </svg>
                  </button>
                  <button class="courses-slider__btns_next">
                          <svg>
                            <use xlink:href="static/web/assets/icons/svg/sprite.svg#right-arrow"></use>
                          </svg>
                  </button>
                </div>
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide">
                      <div class="course-card">                 
                        <div class="course-card_front">
                          <div class="courses-flip">
                                  <svg class="courses-flip__arrow">
                                    <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip-arrow"></use>
                                  </svg>
                            <button class="courses-flip__btn">
                                    <svg>
                                      <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip"></use>
                                    </svg>
                            </button>
                          </div>
                          <div class="course-card__block">
                            <h3 class="course-card__title">строение автомобиля</h3>
                            <div class="course-card__img"><img class="card-img" src="static/web/assets/images/courses/машинка.png"/>
                            </div>
                            <div class="course-card__box">
                              <div class="course-card__author-img"><img class="undefined" src="static/web/assets/images/courses/ден.jpg"/>
                              </div>
                              <div class="course-card__author"><span>автор:</span>
                                <p>денис мещеряков</p>
                              </div>
                              <div class="course-card__price"> <span class="card-price">101</span><span>₽
                                  <div class="hover-style">
                                    <button class="hover-style__btn">подробнее
                                            <svg>
                                              <use xlink:href="static/web/assets/icons/svg/sprite.svg#hover_arrow"></use>
                                            </svg>
                                    </button>
                                    <div class="hover-style__cont"> 
                                      <h1>content </h1>
                                    </div>
                                  </div></span></div>
                            </div>
                          </div>
                        </div>
                        <div class="course-card_back"> 
                          <h1>content</h1>
                          <div class="courses-flip">
                            <button class="courses-flip__btn">
                                    <svg>
                                      <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip"></use>
                                    </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn_green buy">купить
                              <svg>
                                <use xlink:href="static/web/assets/icons/svg/sprite.svg#basket"></use>
                              </svg>
                      </button>
                    </li>
                    <li class="splide__slide">
                      <div class="course-card">                 
                        <div class="course-card_front">
                          <div class="courses-flip">
                                  <svg class="courses-flip__arrow">
                                    <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip-arrow"></use>
                                  </svg>
                            <button class="courses-flip__btn">
                                    <svg>
                                      <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip"></use>
                                    </svg>
                            </button>
                          </div>
                          <div class="course-card__block">
                            <h3 class="course-card__title">робототехника</h3>
                            <div class="course-card__img"><img class="card-img" src="static/web/assets/images/courses/робот.png"/>
                            </div>
                            <div class="course-card__box">
                              <div class="course-card__author-img"><img class="undefined" src="static/web/assets/images/courses/алим.jpg"/>
                              </div>
                              <div class="course-card__author"><span>автор:</span>
                                <p>алим мамбетов</p>
                              </div>
                              <div class="course-card__price"> <span class="card-price">9999</span><span>₽
                                  <div class="hover-style">
                                    <button class="hover-style__btn">подробнее
                                            <svg>
                                              <use xlink:href="static/web/assets/icons/svg/sprite.svg#hover_arrow"></use>
                                            </svg>
                                    </button>
                                    <div class="hover-style__cont"> 
                                      <h1>content </h1>
                                    </div>
                                  </div></span></div>
                            </div>
                          </div>
                        </div>
                        <div class="course-card_back"> 
                          <h1>content</h1>
                          <div class="courses-flip">
                            <button class="courses-flip__btn">
                                    <svg>
                                      <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip"></use>
                                    </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn_green buy">купить
                              <svg>
                                <use xlink:href="static/web/assets/icons/svg/sprite.svg#basket"></use>
                              </svg>
                      </button>
                    </li>
                    <li class="splide__slide">
                      <div class="course-card">                 
                        <div class="course-card_front">
                          <div class="courses-flip">
                                  <svg class="courses-flip__arrow">
                                    <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip-arrow"></use>
                                  </svg>
                            <button class="courses-flip__btn">
                                    <svg>
                                      <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip"></use>
                                    </svg>
                            </button>
                          </div>
                          <div class="course-card__block">
                            <h3 class="course-card__title">3d печать</h3>
                            <div class="course-card__img"><img class="card-img" src="static/web/assets/images/courses/принтер.png"/>
                            </div>
                            <div class="course-card__box">
                              <div class="course-card__author-img"><img class="undefined" src="static/web/assets/images/courses/катя.jpg"/>
                              </div>
                              <div class="course-card__author"><span>автор:</span>
                                <p>екатерина маслова</p>
                              </div>
                              <div class="course-card__price"> <span class="card-price">100</span><span>₽
                                  <div class="hover-style">
                                    <button class="hover-style__btn">подробнее
                                            <svg>
                                              <use xlink:href="static/web/assets/icons/svg/sprite.svg#hover_arrow"></use>
                                            </svg>
                                    </button>
                                    <div class="hover-style__cont"> 
                                      <h1>content </h1>
                                    </div>
                                  </div></span></div>
                            </div>
                          </div>
                        </div>
                        <div class="course-card_back"> 
                          <h1>content</h1>
                          <div class="courses-flip">
                            <button class="courses-flip__btn">
                                    <svg>
                                      <use xlink:href="static/web/assets/icons/svg/sprite.svg#flip"></use>
                                    </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn_green buy">купить
                              <svg>
                                <use xlink:href="static/web/assets/icons/svg/sprite.svg#basket"></use>
                              </svg>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
              <svg class="big-sinica">
                <use xlink:href="static/web/assets/icons/svg/sprite.svg#big_sinica"></use>
              </svg>
      </div>
      <section class="s_advantage section" id="s_advantage">
        <div class="container">
          <h2 class="title">преимущества</h2>
          <ul class="s_advantage__list">
            <li class="s_advantage__el"><span class="s_advantage__index "> 
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#play"></use>
                      </svg><i>1</i></span>
              <p class="text">Преимущество купить/пройти здесь курс</p>
            </li>
            <li class="s_advantage__el"><span class="s_advantage__index "> 
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#play"></use>
                      </svg><i>2</i></span>
              <p class="text">Преимущество купить/пройти здесь курс</p>
            </li>
            <li class="s_advantage__el"><span class="s_advantage__index "> 
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#play"></use>
                      </svg><i>3</i></span>
              <p class="text">Преимущество купить/пройти здесь курс</p>
            </li>
            <li class="s_advantage__el"><span class="s_advantage__index "> 
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#play"></use>
                      </svg><i>4</i></span>
              <p class="text">Преимущество купить/пройти здесь курс</p>
            </li>
            <li class="s_advantage__el"><span class="s_advantage__index "> 
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#play"></use>
                      </svg><i>5</i></span>
              <p class="text">Преимущество купить/пройти здесь курс</p>
            </li>
            <li class="s_advantage__el"><span class="s_advantage__index "> 
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#play"></use>
                      </svg><i>6</i></span>
              <p class="text">Преимущество купить/пройти здесь курс</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="section s_about" id="s_about">
        <div class="filter"></div>
        <div class="container">
          <h1 class="title">о нас</h1>
          <div class="about">
            <div class="about__block">
              <p class="text">Коротко рассказать об арт-пространстве, для кого оно и какие там мероприятия проходят.</p>
              <div class="splide" id="about_slider">
                <div class="splide__track">
                  <ul class="splide__list">
                    <li class="splide__slide"><img class="undefined" src="static/web/assets/images/about/1.jpg"/>
                    </li>
                    <li class="splide__slide"><img class="undefined" src="static/web/assets/images/about/2.jpg"/>
                    </li>
                    <li class="splide__slide"><img class="undefined" src="static/web/assets/images/about/3.jpg"/>
                    </li>
                    <li class="splide__slide"><img class="undefined" src="static/web/assets/images/about/4.jpg"/>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="about__block">
              <div class="about-video">
                <iframe width="100%" height="100%" src="http://www.youtube.com/embed/8EAjUeBfweU" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section s_reviews" id="s_reviews">
        <div class="container">
          <h2 class="title">Отзывы</h2>
          <div class="splide" id="reviews_slider">
            <div class="reviews-btns">
              <button class="reviews-btns__prev">
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#right-arrow"></use>
                      </svg>
              </button>
              <button class="reviews-btns__next">
                      <svg>
                        <use xlink:href="static/web/assets/icons/svg/sprite.svg#right-arrow"></use>
                      </svg>
              </button>
            </div>
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <p class="text reviews-comment"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  <div class="info">
                    <div class="info__img"><img class="undefined" src="static/web/assets/images/courses/алим.jpg"/>
                    </div>
                    <p class="text info__name"> Иван Иванов</p>
                  </div>
                </li>
                <li class="splide__slide">
                  <p class="text reviews-comment"> Lorem ipsum dolor lamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  <div class="info">
                    <div class="info__img"><img class="undefined" src="static/web/assets/images/courses/алим.jpg"/>
                    </div>
                    <p class="text info__name"> Иван Иванов</p>
                  </div>
                </li>
                <li class="splide__slide">
                  <p class="text reviews-comment"> Lorem ipsum dolor sit amet, camco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  <div class="info">
                    <div class="info__img"><img class="undefined" src="static/web/assets/images/courses/алим.jpg"/>
                    </div>
                    <p class="text info__name"> иван иванов</p>
                  </div>
                </li>
                <li class="splide__slide">
                  <p class="text reviews-comment"> Lorem ipsum dolor sit amet, conea commodo consequat. </p>
                  <div class="info">
                    <div class="info__img"><img class="undefined" src="static/web/assets/images/courses/алим.jpg"/>
                    </div>
                    <p class="text info__name"> Иван Иванов</p>
                  </div>
                </li>
                <li class="splide__slide">
                  <p class="text reviews-comment"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con. </p>
                  <div class="info">
                    <div class="info__img"><img class="undefined" src="static/web/assets/images/courses/алим.jpg"/>
                    </div>
                    <p class="text info__name"> Иван Иванов</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section s_contact" id="s_contact">
        <h2 class="title title_btn contact-title_active" id="contact-btn">Остались вопросы?</h2>
        <div class="modal-window modal-contact_active">
          <div class="modal-window__contact">
            <form class="form-call" id="form-call" autocomplete="off">
              <p class="text">Заполните форму, чтобы заказать обратный звонок</p>
              <label class="form-call__box">
                <input class="form-call__name _req" type="text" id="s_contact-name"/>
                <div class="inp-style"><span class="placeholder">Ваше имя  </span></div>
              </label>
              <label class="form-call__box">
                <input class="form-call__phone _req" type="text" id="s_contact-phone"/>
                <div class="inp-style"><span class="placeholder">Номер телефона</span></div>
              </label>
              <button class="btn" type="submit">обратный звонок</button><span class="remove-btn">+</span>
            </form>
          </div>
        </div>
        <div id="map"></div>
        <footer class="footer">
          <div class="container"><a class="footer-logo" href="#"><img class="undefined" src="static/web/assets/images/logo.png"/></a>
            <div class="address">
              <p class="text">Адрес: <br> Московский поспект, 25/1, Санкт-Петербург</p>
            </div>
            <ul class="socials">
              <li class="inst socials__el"><a href="#">
                        <svg>
                          <use xlink:href="static/web/assets/icons/svg/sprite.svg#inst"></use>
                        </svg></a></li>
              <li class="vk socials__el"><a href="#">
                        <svg>
                          <use xlink:href="static/web/assets/icons/svg/sprite.svg#vk"></use>
                        </svg></a></li>
              <li class="telegram socials__el"><a href="#">
                        <svg>
                          <use xlink:href="static/web/assets/icons/svg/sprite.svg#telegram"></use>
                        </svg></a></li>
            </ul>
            <div class="contact"><a class="contact__phone text" href="#">+ 7 (921) 888 00-88</a><a class="contact__mail text" href="#">hello@mycompany.com</a></div>
          </div>
        </footer>
      </section>
    </main>
    <div class="hamburger-menu">
      <ul class="hamburger-menu__list">
        <li class="hamburger-menu__list__el"><a href="#s_courses">курсы</a></li>
        <li class="hamburger-menu__list__el"><a href="#s_advantage">преимущества</a></li>
        <li class="hamburger-menu__list__el"><a href="#s_about">о нас</a></li>
        <li class="hamburger-menu__list__el"><a href="#s_reviews">отзывы</a></li>
        <li class="hamburger-menu__list__el"><a href="#s_contact">контакты</a></li>
      </ul>
    </div>
    <div class="loader">
      <div class="loader__logo"><img class="undefined" src="static/web/assets/images/лого1.png"/><img class="loader__logo__img" src="static/web/assets/images/лого2.png"/>
      </div>
    </div>
    <div class="basket-modal">
      <div class="container">
        <form class="basket-form" autocomplete="off" id="basket-modal">
          <h3 class="basket-form__title">Форма оформления заказа<span class="basket-remove">⨶</span></h3>
          <div class="basket-cont">
            <label class="basket-form__box">
              <input class="_req" type="text" id="basket-name"/>
              <div class="basket-form__inp-style"><span>Имя:</span></div>
            </label>
            <label class="basket-form__box">
              <input class="_req" type="text" id="basket-mail"/>
              <div class="basket-form__inp-style"><span>E-mail:</span></div>
            </label>
            <label class="basket-form__box">
              <input class="_req" type="text" id="basket-phone"/>
              <div class="basket-form__inp-style"><span>Телефон:</span></div>
            </label>
            <div class="splide" id="basket-slider">
              <div class="basket-arrows">
                <button class="basket-arrows__prev">
                        <svg>
                          <use xlink:href="static/web/assets/icons/svg/sprite.svg#right-arrow"></use>
                        </svg>
                </button>
                <button class="basket-arrows__next">
                        <svg>
                          <use xlink:href="static/web/assets/icons/svg/sprite.svg#right-arrow"></use>
                        </svg>
                </button>
              </div>
              <div class="splide__track">
                <ul class="splide__list basket-slider-list"></ul>
              </div>
            </div>
            <div class="basket-form__block">
              <div class="basket-form__all-price">К оплате: <span id="basket-form__all-price">0 руб.</span></div>
              <button class="btn btn_green" type="submit">оплатить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal_ok">
      <h3 class="title">massage</h3>
      <div class="btn">ок</div>
    </div>
  </body>
</html>